:root{
  --body_background: #282c34;
  --body_color: #fff;
  --link_color: cyan;
}

[data-theme="light"] {
  --body_background: #fff;
  --body_color: #000;
  --link_color: navy;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
